body {
  font-family :'Open Sans', serif;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar{
  background-color: #5f5ba7 !important;
  border-bottom: #FFF10D  solid 3px ;
  color: white !important;
}


.App-link {
  color: #61dafb;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #5f5ba7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
