code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




.signout_button {
  background-color: #75AECC;
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../src/Assets/Images/Rainbow.svg");
  background-size: cover;
}
.cont {

  border: 1px;
}




.col_2 {
  border-left: 1px black solid;

  border-right: 1px black solid;
}

#score {
  background-color: black;
  color: aliceblue
}

#profile_img {

  height: 100%;
  width: 15%;
  border: 2px solid black;
}

#logo {

  height: 100%;
  width: 10%;

}

.panel-heading {

  background-color: bisque;
}

.panel-defaul {
  padding-right: 0px
}

#logo_nav {
  padding: 0px;
}


/* For login Page */
.sign-in-up .left-inner-addon {
  position: relative;
}

.sign-in-up .left-inner-addon input {
  padding-left: 30px;
}

.sign-in-up .left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.sign-in-up .right-inner-addon {
  position: relative;
}

.sign-in-up .right-inner-addon input {
  padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 17px 12px;
  pointer-events: none;
}

.sign-in-up .click2select {
  text-align: center;
  margin-top: 1em;
}

.sign-in-up .paywith {
  padding: 12px 12px 0 0;
  margin: 0;
  font-weight: bold;
}

.btn-danger,
.btn-danger:hover {
  background-color: #333399 !important;
  border-color: #333399 !important;
}

.btn-primary,
.btn-primary:hover {
  background-color: #3366CC !important;
  border-color: #3366CC !important;
}

input[type="text"],
input[type="password"],
.btn {
  border-radius: 0px;
}


/* Login Page Style */

html,
body,
#root {
  width: 100%;
  height: 100%;
}



.loginWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}