        
        footer {
                bottom: 0;
                width: 100%;
                height: 30px !important;
                margin: 0 auto;
                background-color: #5f5ba7;
                border-top: solid 1.5px #f1545e;
                text-align: center;
                position:absolute;
                left:0;
                bottom:0;
                right:0;
                color: white;               
              }

