        

        footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 15px !important;
                margin: 0 auto;
                background-color: #5f5ba7;
                border-top: solid 1.5px #f1545e;
              }