body {
    margin: auto;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#navbarNav {
    background-color: rgb(18, 18, 63);
    color: white;
}
#home {
    color: white;
    font-size: 20px;
}
#home:hover {
    color: red;
}
#games {
    color: white;
    font-size: 20px;
}
#games:hover {
    color: red;
}
#video {
    color: white;
    font-size: 20px;
}
#video:hover {
    color: red;
}
