body{
    background-color: blueviolet;
}

.cont{
    background-color: pink !important;
    border: 1px;
}

footer{
    background-color: chocolate;
}

.nav_color{
    background-color: aqua !important;
}

.col_2{
    border-left: 1px black solid;
    
    border-right: 1px black solid;
}